<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        .err{
            color: aquamarine;
            background-color: brown;
            font-size: 100px;
        }
    </style>
</head>
<body class="err">
    나가주겠니?
</body>
</html>